a {
  color: inherit;
  text-decoration: none;
}

.selfie {
  border-radius: 50%;
}

.work {
  border-radius: 1rem;
}

@keyframes cool {
  0% {
    transform: translateX(-1000);
  }
  100% {
    transform: translateX(50);
  }
}

.is-visible {
  animation-name: cool;
  animation-duration: 2s;
}

@media (max-width: 480px) {
  section {
    padding: 1rem 3rem !important;
  }
}
